@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Floating animation for hero image */
@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}